.metadata/

.classpath/

Servers/


# Compiled class file
*.class

#Java Archive
*.jar
Prj28_IMDBFilm/.classpath
Prj28_IMDBFilm/.settings/org.eclipse.wst.common.project.facet.core.xml
*.xml
Prj24_PokemonWeb/.classpath
Prj24_PokemonWeb/.settings/org.eclipse.wst.common.project.facet.core.xml
Prj27_StudentiWeb/.classpath
Prj27_StudentiWeb/.settings/org.eclipse.wst.common.project.facet.core.xml
Prj29_LaboratorioStream/.classpath
Prj28_IMDBFilm/.settings/org.eclipse.wst.common.project.facet.core.xml
Prj28_IMDBFilm/.classpath
Prj27_StudentiWeb/.settings/org.eclipse.wst.common.project.facet.core.xml
Prj27_StudentiWeb/.classpath
Prj24_PokemonWeb/.settings/org.eclipse.wst.common.project.facet.core.xml
Prj24_PokemonWeb/.classpath
